<!-- <div>
<h2>{{ user.firstName}}</h2>
<p>Age:{{ user.email}}</p>
<p>phone:{{ user.phone}}</p>
</div> -->
<p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus
    consequuntur, molestiae inventore quasi eius aliquam maiores quae possimus
    deserunt laborum libero optio dignissimos nam assumenda autem. Culpa tempora
    similique nesciunt.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus
    consequuntur, molestiae inventore quasi eius aliquam maiores quae possimus
    deserunt laborum libero optio dignissimos nam assumenda autem. Culpa tempora
    similique nesciunt.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus
    consequuntur, molestiae inventore quasi eius aliquam maiores quae possimus
    deserunt laborum libero optio dignissimos nam assumenda autem. Culpa tempora
    similique nesciunt.
  </p>
  <img src="https://unsplash.com/photos/green-emoji-standee--T-9-x7ypCI">
  